.App {
  text-align: center;
  min-height: 100vh;
  background: #EAEAEA;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  margin: 0 0 0 10px;
}

.App-logo {
  height: 50px;
  width: 50px;
}

.navigation ul {
  display: flex;
  align-text: right;
  width: 100%;
  list-style: none;
  height: 66px;
}

.navigation li {
  display: inline-block;
}

.navigation li a{
  background: #AE2573;
  margin: 0 10px 10px 0;
  padding: 12px 18px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
}