.PatientCard-container {
  display: flex;
  margin: 20px;
  background: white;
}

.PatientCard-patient-details,
.PatientCard-current-problems,
.PatientCard-jobs {
  flex: 0 0 20%;
}

.PatientCard-medical-history {
  flex: 0 0 40%;
}

.PatientCard-gender {
  background-color: blue;
  color: white;
  font-weight: bold;
}

.PatientCard-priority-high,
.PatientCard-priority-fit {
  margin: auto;
}

.PatientCard-priority-high {
  background-color: #DA291C;
}

.PatientCard-priority-fit {
  background-color: #78BE20;
}

.PatientCard-priority-text {
  transform: rotate(-90deg);
}